@import "../../../styles/colors.scss";

.slide-game-results {
  position: relative;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
  .slide-game-results-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
