.overall-results {
  position: relative;
  min-height: calc(100vh - 60px);
  .overall-results-container {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    .result-icon {
      width: 200px;
      fill: var(--color-main-2);
    }
    .position {
      text-align: center;
      font-size: 36px;
      font-weight: 600;
      color: var(--color-text-3);
      @media (max-width: 350px) {
        font-size: 30px;
      }
    }
  }
}
