@import "../../../styles/mixins.scss";

.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  right: 0;
  background: rgba(26, 29, 32, 0.6);
  // backdrop-filter: blur(2px);
  z-index: 1000000;
  .loading-animation-container {
    width: 100%;
    height: 100%;
    @include flex-center-center();
    .loading-card {
      background: var(--color-background-1);
      border-radius: 20px;
      padding: 30px 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      font-size: 28px;
      gap: 25px;
      box-shadow: var(--box-shadow-medium), var(--box-shadow-medium);
      .label {
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--color-text-3);
      }
    }
  }
}
