@import "../../../styles/mixins.scss";

.loading-card-content {
  @include flex-center-center-column();
  max-width: 450px;
  width: 100%;
  padding: 40px;
  gap: 25px;
  @media (max-width: 500px) {
    padding: 40px 20px 20px 20px;
  }

  .name {
    font-size: 26px;
    text-align: center;
    font-weight: 600;
  }
  .question {
    font-weight: 500;
    font-size: 20px;
  }
  .facts-container {
    @include flex-center-center-column();
    gap: 15px;

    .fact {
      font-size: 14px;
      padding: 12px;
      border-radius: 8px;
      background: var(--color-background-2);
      color: var(--color-text-4);
    }
  }
}
