@import "../../../styles/colors.scss";
.lobby {
  .lobby-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 50px);
    position: relative;
    flex-direction: column;
    .label {
      padding: 20px;
      position: absolute;
      bottom: 20px;
      background: var(--color-background-1);
      color: var(--color-text-2);
      box-shadow: var(--box-shadow-medium);
      border-radius: 8px;
      font-weight: 500;
      margin: 0;
      font-size: 20px;
      @media (max-width: 500px) {
        font-size: 4vw;
      }
    }
  }
}
