@import "./colors.scss";

input {
  outline: none;
  font-family: Nunito, Poppins, sans-serif;
}

.input-basic {
  color: var(--color-text-2);
  font-size: 16px;
  border: 1px solid var(--color-border-3);
  border-radius: 0.25em;
  padding: 0.4em 0.8em;
  &:focus {
    border: 2px solid var(--color-main-2);
    padding: calc(0.4em - 1px) calc(0.8em - 1px);
  }
}

.input-100 {
  width: 100%;
}
