.text-large {
  color: var(--color-text-3);
  font-size: 36px;
  width: 100%;
  font-weight: 600;
  @media (max-width: 500px) {
    font-size: 32px;
  }
  @media (max-width: 400px) {
    font-size: 28px;
  }
}

.text-information-small {
  color: var(--color-text-7);
  font-size: 12px;
  width: 100%;
  font-weight: 400;
}
.text-information-medium {
  color: var(--color-text-5);
  font-size: 16px;
  width: 100%;
  font-weight: 400;
}

.text-information-small-background {
  border-radius: 12px;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  color: var(--color-text-6);
  background: var(--color-background-2);
  width: 100%;
}

.text-information-medium-background {
  border-radius: 12px;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  color: var(--color-text-6);
  background: var(--color-background-2);
  width: 100%;
}

.custom-text-large {
  font-size: 32px;
  font-weight: 600;
}
.custom-text-medium {
  font-size: 24px;
}
.custom-text-small {
  font-size: 16px;
}

.custom-text-info-large,
.custom-text-info-medium,
.custom-text-info-small {
  color: var(--color-text-6);
  width: 100%;
}

.custom-text-info-large {
  font-size: 20px;
}
.custom-text-info-medium {
  font-size: 16px;
}
.custom-text-info-small {
  font-size: 12px;
}

.custom-text-info-bg-small,
.custom-text-info-bg-medium,
.custom-text-info-bg-large {
  color: var(--color-text-6);
  background: var(--color-background-2);
  border-radius: 12px;
  width: 100%;
  padding: 12px;
}

.custom-text-info-bg-large {
  font-size: 20px;
}
.custom-text-info-bg-medium {
  font-size: 16px;
}
.custom-text-info-bg-small {
  font-size: 12px;
}

.text-center {
  text-align: center;
}
